body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 99;
  display: none;
}

.disableselect {
	-webkit-touch-callout: none;
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1.logo {
	margin-top: 14px;
	margin-bottom: 0;
	font-size: 40px;
	line-height: 40px;
}

hr {
  border-color: rgba(0,0,0,0.08);
}

button span { 
	color: #bbb;
	padding-right: 10px;
}

button, input[type=button] {
	margin: 0 10px 10px 0;
}

fieldset {
	margin-bottom: 4px;
}

progress, input.upload {
  display: none;
  margin-left: 10px;
}

#activity ul li div {
	float: left;
	width: 20px;
}

#activity ul li {
	padding-left: 20px;
	text-indent: -20px;
  word-wrap: break-word;
  max-height: 120px;
  overflow: hidden;
  position: relative;
}

#activity ul li:after {
  content:"";
  position:absolute;
  top:80px;
  left:0;
  height:40px;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0), #fff);
}

div.row {
  margin-bottom: 0;
}

div.flex {
  margin: 0 10px;
  display: flex;
}

div.boxstretch {
  flex: 1;
  margin-right: 5px;
}

div.boxshrink {
  flex: 0 auto;
}

div.boxshrink button {
  margin: 0;
}

div.block {
	background: #f9f9f9;
	background: rgba(0,0,0,0.025);
	padding: 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

div.block form {
	margin-bottom: 0;
}

div.block h6 {
	padding: 10px 15px;
	cursor: pointer;
	min-height: 21px;
}

div.block h6::after {
	content: "+";
	float: right;
	color: rgba(0,0,0,0.3);
	font-size: x-large;
}

div.block h6.contract::after {
	content: "-";
}

div.block > div {
	padding: 10px 15px 10px;
	display: none;
	overflow: auto;
	border-top: 5px solid rgba(255,255,255,0.5); 
}

div.block hr {
	margin-top: 0;
}

form > div.block {
	margin-bottom: 10px;
}

div.unfloat:not(:last-child) > form {
	margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="range"], input[type="time"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], input[type="date-time"], textarea, select {
	width: 100%;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
}

input[type="color"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
}

input[type="text"].highlight, input[type="password"].highlight, input[type="range"].highlight, input[type="time"].highlight, input[type="password"].highlight,	input[type="email"].highlight, input[type="number"].highlight, input[type="date"].highlight, input[type="time"].highlight, input[type="date-time"].highlight, textarea.highlight, select.highlight {
	border: 1px solid rgba(255,0,0,0.5);
	color: #444444;
	-moz-box-shadow: 0 0 3px rgba(255,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(255,0,0,0.2);
	box-shadow:  0 0 3px rgba(255,0,0,0.2); 
}

button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
	background: transparent;
	text-shadow: none;
	border-color: #ccc;
	cursor: default;
}

.array.disabled button, .array.disabled input[type="button"], .array.disabled > div > hr {
	display: none;
}

hr {
	margin-bottom: 10px;
}

.array.disabled hr {
	margin-top: 20px;
}

label.required:after, button.caution:after {
	content: ' *';
	color: red;
	font-size: 0.6em;
	vertical-align: super;
}

.labelvalue {
  float: right;
}

.field {
  max-width: 390px;
}

#script_editor .field {
  max-width: 100%;
}

.dialog {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	display: none;
}

.dialog div {
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 15px;
}

.dialog div.error {
	border: 1px solid rgba(255,0,0,0.2);
	background: rgb(255,240,240);
}

.dialog div.info {
	border: 1px solid rgba(0,0,255,0.2);
	background: rgb(240,240,255);
}

.dialog div.success {
	border: 1px solid rgba(0,255,0,0.2);
	background: rgb(240,255,240);
}

.notice {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
  display: none;
  pointer-events: none;
}

.notice div {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgb(255,255,255);
  pointer-events: auto;
}

.notice .close {
  float: right;
  padding: 0 0 5px 15px;
  font-weight: 900;
  pointer-events: auto;
  cursor: pointer;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nodeadd .close, .noderename .close, .scriptadd .close {
	position: absolute;
	top: -5px;
	right: 0;
	font-weight: 900;
	pointer-events: auto;
	color: rgb(124,124,124);
	cursor: pointer;
  padding: 10px;
}

.nodeadd, .noderename, .scriptadd {
	background: white;
	position: absolute;
	padding: 20px;
	border: 1px solid rgb(224,224,224);
	border-radius: 2px;
	top: 45px;
	left: 15px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	z-index: 888;
}

.scriptadd {
  left: auto;
  right: 15px;
}

.nodeadd form, .nodeadd form button, .noderename form, .noderename form button, .scriptadd form, .scriptadd form button {
	margin-bottom: 0;
}

#nodename {
	margin-bottom: 0;
	display: inline;
	cursor: pointer;
}

.noderename {
	position: absolute;
}

.nodedetails, #nodelist, .nodefiltergrp {
	position: relative;
}

#nodefilterback {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
  text-decoration: none;
  cursor: default;
}

.advanced, .advancededitor, .init, #nodelist, .noderename, .nodeadd, .scriptadd {
	display: none;
}

.error, .err {
	color: #ff0000;
}

.local {
	color: #00ff00;
}

.remote, #console .info {
	color: #0000ff;
}

.warn {
	color: #ffa500;
}

.float {
	float: left;
}

.unfloat {
	clear: both;
}

.pad {
	margin-bottom: 20px;
}

.timestamp {
  color: #999;
  font-size: 0.8em;
}

.expand, .contract {
  cursor: pointer;
}

.autocomplete {
  position: absolute;
  margin-top: 0px;
  background: white;
  min-width: 100px;
  padding: 0;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  z-index: 999;
}

.autocomplete ul {
  margin: 0;
  padding: 0;
}

.autocomplete ul li {
  padding: 6px 4px;
  margin: 0;
}

.autocomplete ul li.active {
  background-color: #eee;
}

#console {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 11px "Lucida Console", Monaco, monospace;
	color: #777;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 2px;
	background: #fff;
	resize: vertical;
	height: 100px;
	overflow: auto;
	box-sizing: border-box;
	white-space: pre;
}

#exec {
	max-width: 100%;
}

.CodeMirror {
	margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.CodeMirror-scrollbar-filler {
  display: block !important;
  cursor: s-resize;
  background: #fff url(data:image/gif;base64,R0lGODlhEQARAKIAAP///9fX13x8fH19fdvb29bW1vX19QAAACH5BAAAAAAALAAAAAARABEAAAMvCLrcEC4uKCOt7eK5c2daF1bD85XmJizFhiojsyprTC+oPQO7LRGBYLAgLAYJhgQAOw==);
  height: 16px !important;
  width: 16px !important;
}
.CodeMirror-dialog input {
  margin-bottom: 0;
  display: inline;
}
.CodeMirror-vscrollbar {
  bottom: 17px !important;
}
.CodeMirror-hscrollbar {
  right: 17px !important;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#remote div.block {
  overflow: visible;
}

#remote > div.block div.block div.object {
  display: block;
}

#remote > div.block div.block h6::after {
  content: '';
}

#remote > div.block div.block h6 {
  float: left;
  width: 180px;
  cursor: default;
  padding: 0 15px;
}

#remote > div.block div.block > div {
  border-top: none;
  padding: 0;
}

#remote > div.block div.block {
  padding: 5px;
  margin-bottom: 0;
}

#remote > div.block div.block:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
#remote > div.block div.block:nth-of-type(even) {
  background: transparent;
}

#remote > div.block div.block > h6:before {
  content: '↔';
  padding-right: 5px;
}

#remote > div.block div.block.wired > h6:before {
  color: rgb(155, 237, 0);
}

#remote > div.block div.block.unwired > h6:before {
  color: rgb(255, 106, 0);
}
/*
#remote > div.block div.block.unwired input, #remote > div.block div.block.unwired > h6 {
  border-color: rgba(255, 106, 0, 0.25);
  color: rgb(255, 106, 0);
}
*/
#remote > div.block div.block div.object {
  display: flex;
}

#remote > div.block div.block div.field {
  width: 100%;
}

#remote > div.block div.block div.field label {
  display: none;
}

#remote > div.block div.block:nth-of-type(1) div.field label {
  display: block;
  position: absolute;
  top: 10px;
}

#remote > div.block div.block div.field input {
  margin-bottom: 0;
}

#remote > div.block > div {
  padding: 0;
}

#remote > div.block {
  position: relative;
}

@media only screen and (max-width: 767px) {
  #remote > div.block div.block:nth-of-type(1) div.field label {
    display: none;
  }
  #remote > div.block div.block div.object {
    display: block;
  }
  div.flex {
    margin: 0;
  }
}