body.disableselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1.logo {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 40px;
}

hr {
  border-color: rgba(0,0,0,0.08);
}

button span {
  color: #bbb;
  padding-right: 10px;
}

progress, input.upload {
  display: none;
  margin-left: 10px;
}

#activity ul li div {
  float: left;
  width: 20px;
}

#activity ul li {
  padding-left: 20px;
  text-indent: -20px;
}

div.block, div.inactblock {
  background: #ddd;
  background: rgba(0,0,0,0.06);
  padding: 0px;
  margin-bottom: 10px;
  overflow: auto;
}

#activity div.block {
  background: #eee;
}

#activity div.block.error {
  background: #fff;
}

#activity div.group {
  background-color: #666;
  padding: 0 15px 5px;
  margin-bottom: 15px;
}

#activity div.grpdata {
  display: none;
}

div.info:last-of-type {
  margin-bottom: 20px;
}

div.block form {
  margin-bottom: 0;
}

div.block  > h6 {
  padding: 10px 15px;
  cursor: pointer;
}

div.inactblock  > h6 {
  padding: 10px 15px;
  font-style: italic;
}

div.group > h6 {
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

div.block > div {
  padding: 0px 15px 10px;
  display: none;
  overflow: auto;
}

div.block.error > div {
  display: block;
}

div.block hr {
  margin-top: 0;
}

input[type="text"], input[type="time"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], input[type="date-time"], textarea, select {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"].highlight, input[type="time"].highlight, input[type="password"].highlight, input[type="email"].highlight, input[type="number"].highlight, input[type="date"].highlight, input[type="time"].highlight, input[type="date-time"].highlight, textarea.highlight, select.highlight {
  border: 1px solid rgba(255,0,0,0.5);
  color: #444444;
  -moz-box-shadow: 0 0 3px rgba(255,0,0,0.2);
  -webkit-box-shadow: 0 0 3px rgba(255,0,0,0.2);
  box-shadow:	 0 0 3px rgba(255,0,0,0.2);
}

hr, .CodeMirror {
  margin-bottom: 20px;
}

label.required:after, button.caution:after {
  content: ' *';
  color: red;
  font-size: 0.6em;
  vertical-align: super;
}

button.call, button.emit {
  margin-right: 5px;
}

a.nodelink, .group > span {
  float: right;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}

a.nodelink {
  padding-right: 0;
}

.node > span, .group > span { 
  float: right;
  padding: 12px 15px 5px;
  color: #0f0;
  fill: #0f0;
}

.node.error > span, .group.error > span {
  color: #f00;
  fill: #f00;
}

.node.missing > span, .group.empty > span, .group.missing > span {
  color: #ff0;
  fill: #ff0;
}

@keyframes errormissing {
  0% { color: #f00; fill: #f00; }
  50% { color: #ff0; fill: #ff0; }
}

.node.missing.error > span, .group.missing.error > span {
  animation-name: errormissing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.noderecursive {
  float: right;
  padding: 10px 15px;
  cursor: pointer;
}

button.clearerror {
  float: right;
}

.field {
  max-width: 390px;
}

#script_editor .field {
  max-width: 100%;
}

.dialog {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  display: none;
}

.dialog div {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
}

.dialog div.error {
  border: 1px solid rgba(255,0,0,0.2);
  background: rgb(255,240,240);
}

.dialog div.info {
  border: 1px solid rgba(0,255,0,0.2);
  background: rgb(240,255,240);
}

.advanced, .advancededitor, .init, #nodelist {
  display: none;
}

.error, .err {
  color: #ff0000;
}

.error > h6 {
  color: #000000;
  font-weight: bold;
}

.info {
  color: black;
  position: relative;
  clear: both;
}

.info button {
  float: right;
}

.clearallinfo {
  float: right;
  margin: 0;
}

.watchblock {
  padding: 15px;
  background: #cfc;
}

.alertblock {
  padding: 15px;
  background: #fcc;
}

.alertblock p, .watchblock p {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.local {
  color: #00ff00;
}

.remote {
  color: #0000ff;
}

.float {
  float: left;
}

.unfloat {
  clear: both;
}

.pad {
  margin-bottom: 20px;
}

.timestamp {
  color: #999;
  font-size: 0.8em;
}

.expand, .contract {
  cursor: pointer;
}

.autocomplete {
  position: absolute;
  margin-top: -20px;
  background: white;
  min-width: 100px;
  padding: 0;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  z-index: 999;
}

.autocomplete ul {
  margin: 0;
  padding: 0;
}

.autocomplete ul li {
  padding: 6px 4px;
  margin: 0;
}

.autocomplete ul li:hover {
  background-color: #eee;
}

#console {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 2px;
  background: #fff;
  resize: vertical;
  height: 100px;
  overflow: auto;
  box-sizing: border-box;
  white-space: nowrap;
}

#exec {
  max-width: 100%;
}

.CodeMirror-scrollbar-filler{
  display: block !important;
  cursor: s-resize;
  background: #fff url(data:image/gif;base64,R0lGODlhEQARAKIAAP///9fX13x8fH19fdvb29bW1vX19QAAACH5BAAAAAAALAAAAAARABEAAAMvCLrcEC4uKCOt7eK5c2daF1bD85XmJizFhiojsyprTC+oPQO7LRGBYLAgLAYJhgQAOw==);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}